.name-font {
  font-family: "Bowlby One", cursive;
}
.name-font-size {
  font-size: 80px;
}

.name-part1 {
  color: var(--secondary);
  text-shadow: -5px 1px 0 #605f5f, 1px 1px 0 var(--font-color), 1px -1px 0 #000,
    -1px -1px 0 #000;
}
.name-part2 {
  color: white;
  text-shadow: -5px 1px 0 var(--secondary), 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}
