.header-container {
  padding: 0.5%;
  margin: 1%;
}
.icon-padding {
  padding: 0% 3% 0% 3%;
}
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(252, 251, 243);
  overflow-x: hidden;
  transition: width 0.5s ease-in-out; /* Transition on width property */
  padding-top: 90px;
}

.sidenav.open {
  width: 280px !important;
}

.sidenav .side-content {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 24px;
  color: #333;
  transition: 0.3s;
}
.sidenav .side-content:hover {
  color: var(--secondary);
}

.top-data {
  position: absolute;
  right: 38px;
  top: 23px;
  z-index: 2;
}
.data.change {
  animation: fadeIn 5s;
}
.data.change1 {
  animation: fadeout 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
