:root {
  --primary: white;
  --secondary: #a1400f;
  --font-lite: #eabf8d;
  --font-color: #442b1c;
}

body {
  overflow-x: hidden;
  /* background-color: #F9F1E6; */
}

#root {
  overflow-x: hidden;
}

.App {
  overflow-x: hidden;
}

.text-secondary {
  color: var(--secondary) !important;
}

.font-clr {
  color: var(--font-color);
}

.easter-font {
  font-family: "Eater", cursive;
}

.magician-font {
  font-family: "Aladin", cursive;
}

.mi-font {
  font-family: "Unna", serif;
}

.bold-font {
  font-family: "Bowlby One", cursive;
}

.icon-size {
  width: 40px;
  height: auto;
  cursor: pointer;
}
.icon-size-md {
  width: 55px;
  height: auto;
  cursor: pointer;
}

.icon-small-size {
  width: 37px;
  height: 29px;
  cursor: pointer;
}

.icon-xsmall-size {
  width: 20px;
  height: auto;
  cursor: pointer;
}

.curser-point {
  cursor: pointer;
}

.h-100 {
  height: 100%;
}

.f-12 {
  font-size: 12px;
}

.f-14 {
  font-size: 14px;
}

.f-16 {
  font-size: 16px;
}

.f-18 {
  font-size: 18px;
}

.f-20 {
  font-size: 20px;
}

.f-22 {
  font-size: 22px;
}

.f-24 {
  font-size: 24px;
}

.f-26 {
  font-size: 26px;
}

.f-32 {
  font-size: 35px;
}

.d-between {
  display: flex;
  justify-content: space-between;
}

.d-end {
  display: flex;
  justify-content: flex-end;
}

.icon-clr {
  fill: var(--font-color);
}

.border-cus {
  border: solid var(--secondary) 2px;
  border-radius: 20px;
}

.fnt-600 {
  font-weight: 600;
}

.border-top-cus {
  border-top: solid var(--secondary) 1px;
}